<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

  <main class="container mt-2 text-center">
    <!-- Hero logo at top of main content -->
    <div class="hero">
      <img src="/Content/lostandfound.svg" alt="Lost & Found Hub logo" class="hero-logo" />
    </div>

    <h1>Lost and Found</h1>
    <p>Welcome to the Lost and Found hub!</p>
  </main>

<%- include ./partials/footer.ejs %>
</body>
</html>